<div class="container-fluid">

  <!-- NAV BAR-->
  <div class="row fixed-top bg-primary" style="height: 50px;">
    <div class="col-sm-2 h3 make-center text-light title">
      DACBOOK
    </div>

    <div class="col-sm-6">
        <div class="form-group row">
            <div class="col-sm-9">
              <input type="text" class="form-control form-control-lg" id="colFormLabelLg" placeholder="Whatsapp..">
            </div>
            <button type="button" class="col-sm-3 btn btn-info btn-lg">POST</button>
        </div>
    </div>

    <div class="col-sm-2 make-center">
        <label style="cursor: pointer;" class="bg-info form-control form-control-lg make-center mt-2 text-light">
            Upload Image
            <input style="display: none" onchange="postImageOption2(this);" accept="image/*" multiple type="file" class="form-control-file" >
        </label>
    </div>

    <div class="col-sm-2 make-center">
        <label style="cursor: pointer;" class="bg-info form-control form-control-lg make-center mt-2 text-light">
            Upload Vidoe
            <input style="display: none" onchange="postImageOption2(this);" accept="video/*" multiple type="file" class="form-control-file" >
        </label>
    </div>
  </div>
  
  <!--body-->
  <div class="row" style="margin-top: 50px">

    <div class="col-sm-3"></div>

    <div class="col-sm-6">

        <!--TEXT -->
        <div  class="mt-1" >
            <div class="row bg-info" style="height: 150px">
                    <div class="col-sm-12 make-center text-white">
                        Hello World!!
                    </div>
            </div>
            <div class="row">
                <button onclick="likeCount(this);" type="button" class="btn col-sm-6  btn-primary">
                    <i  class="fas fa-thumbs-up"> 0</i>
                </button>
                <button onclick="dislikeCount(this);" type="button" class="btn col-sm-6  btn-secondary">
                    <i  class="fas fa-thumbs-down "> 0</i>	
                </button>
            </div>
        </div>

        <!-- REFERENCE BLOCK FOR IMAGE-->
        <div  class="mt-1" >
            <div class="row bg-info" style="height: 300px">
                <div class="col-sm-12 make-center text-white">
                    <img src="./assets/hacked.jpg" style="height: 300px;" class="img-fluid rounded" alt="Image not available">
                </div>
            </div>
            <div class="row">
                <button onclick="likeCount(this);" type="button" class="btn col-sm-6  btn-primary">
                    <i  class="fa fa-thumbs-up"> 0</i>
                </button>
                <button onclick="dislikeCount(this);" type="button" class="btn col-sm-6  btn-secondary">
                    <i  class="fa fa-thumbs-down "> 0</i>	
                </button>
            </div>
      </div>


      <!-- REFERENCE BLOCK FOR VIDEO-->
      <div  class="mt-1" >
            <div class="row bg-info" style="height: 300px">
                <div class="col-sm-12 make-center text-white">
                    <video src="" style="height: 300px;" controls autoplay></video>
                </div>
            </div>
            <div class="row">
                <button onclick="likeCount(this);" type="button" class="btn col-sm-6  btn-primary">
                    <i  class="fa fa-thumbs-up"> 0</i>
                </button>
                <button onclick="dislikeCount(this);" type="button" class="btn col-sm-6  btn-secondary">
                    <i  class="fa fa-thumbs-down "> 0</i>	
                </button>
        </div>
    </div>

    </div>

    <div class="col-sm-3"></div>
  </div>
</div>